<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Конструктор топологии</title>
    <link rel ="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/home" >
            <img src="img/back.png" alt="">
            Конструктор топологии
        </a>
        <img src="img/road.png" alt="">
    </nav>
	
</head>
<body>

<div class="modal fade" id="editBlockModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Изменение блок-участка</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="blockName">
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Имя блок-участка</span>
                    </div>
                    <input type="text" class="form-control pr-2" id="editBlockName" pattern="/^[а-яА-я0-9a-zA-z]*$/">
                </div>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Длина</span>
                    </div>
                    <input type="number" class="form-control pr-2" id="editBlockLength" min="1" max="70">
                </div>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Путь</span>
                    </div>
                    <select class="form-control" id="editBlockWay">
                    </select>
                </div>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">С платформой</span>
                    </div>
                    <div class="pl-2 pt-2">
                        <input type="checkbox" class="form-check-input ml-2" id="editHasPlatform">
                    </div>


                </div>
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Номер платформы</span>
                    </div>
                    <input type="number" class="form-control pr-2" id="editPlatformNumber" min="1" max="15">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editBlock()">Изменить</button>
                <button type="button" class="btn btn-danger" onclick="removeBlock()">Удалить</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editWayModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Изменение пути</h4>
            </div>
            <div class="modal-body">
                <input id="wayNumber" type="hidden">
                <div class="form-group pr-4 pl-4">
                    <label for="editWayNumber">Номер пути</label>
                    <input type="number" class="form-control pr-2" id="editWayNumber" min="1" max="15" >
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group pr-4 pl-4 text-center">
                    <button type="button" class="btn btn-primary" onclick="editWay()">Изменить</button>
                </div>
                <div class="form-group pr-4 pl-4 text-center">
                    <button type="button" class="btn btn-danger" onclick="removeWay()">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <canvas id="canvas"></canvas>
            </div>
            <div id="editWay" class="row fixed-bottom bg-light p-2 m-2 w-50" style="display: none">

            </div>
            <div id="removeLink" class="row fixed-bottom bg-light p-2 m-2 w-50" style="display: none">
                <input id="blockFrom" type="hidden">
                <input id="blockTo" type="hidden">
                <div class="form-group pr-4 pl-4 text-center">
                    <button type="button" class="btn btn-secondary" onclick="removeLink()">Удалить</button>
                </div>
            </div>
        </div>
        <div id="instruments" class="col-md-4">
            <div class="row flex-column pb-2 pt-2">
                <button class="btn btn-secondary dropdown-toggle flex-column" type="button" aria-haspopup="true" aria-expanded="false" onclick="showAddWay()">
                    Путь
                </button>
            </div>
            <div class="row flex-column bg-light" >
                <div id="addWay" class="row flex-column">
                    <div class="form-group pr-4 pl-4">
                        <label for="inputWayNumber">Номер пути</label>
                        <input type="number" class="form-control pr-2" id="inputWayNumber" min="1" max="15" >
                    </div>

                    <div class="form-group pr-4 pl-4 text-center">
                        <button type="button" class="btn btn-secondary" onclick="addWay()">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="row flex-column pb-2 pt-2">
                <button class="btn btn-secondary dropdown-toggle flex-column" type="button" aria-haspopup="true" aria-expanded="false" onclick="showAddWay()">
                    Блок-участок
                </button>
            </div>
            <div class="row flex-column bg-light" >
                <div id="addBlock" class="row flex-column">
                    <div class="form-group pr-4 pl-4">
                        <label for="inputBlockName">Имя блок-участка</label>
                        <input type="text" class="form-control pr-2" id="inputBlockName" pattern="/^[а-яА-я0-9a-zA-z]*$/">
                    </div>
                    <div class="form-group pr-4 pl-4">
                        <label for="inputBlockLength">Длина</label>
                        <input type="number" class="form-control pr-2" id="inputBlockLength" min="1" max="70">
                    </div>
                    <div class="form-group pr-4 pl-4">
                        <label for="inputWay">Путь</label>
                        <select class="form-control" id="inputWay">
                        </select>
                    </div>

                    <div class="form-group form-check pl-5 pr-5">
                        <input type="checkbox" class="form-check-input" id="hasPlatform">
                        <label class="form-check-label" for="hasPlatform">С платформой</label>
                    </div>
                    <div class="form-group pr-4 pl-4">
                        <label for="inputPlatformNumber">Номер платформы</label>
                        <input type="number" class="form-control pr-2" id="inputPlatformNumber" min="1" max="15">
                    </div>
                    <div class="form-group pr-4 pl-4 text-center">
                        <button type="button" class="btn btn-secondary" onclick="addBlock()">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="row flex-column pb-2">
                <button class="btn btn-secondary dropdown-toggle flex-column" type="button" aria-haspopup="true" aria-expanded="false" onclick="showAddArrow()">
                    Связь
                </button>
            </div>
            <div class="row flex-column bg-light" >
                <div class="form-group pr-4 pl-4">
                    <label for="inputBlockFromName">Имя первого блок-участка</label>
                    <input type="text" class="form-control pr-2" id="inputBlockFromName">
                </div>
                <div class="form-group pr-4 pl-4">
                    <label for="inputBlockToName">Имя второго блок-участка</label>
                    <input type="text" class="form-control pr-2" id="inputBlockToName">
                </div>
                <div class="form-group pr-4 pl-4 text-center">
                    <button type="button" class="btn btn-secondary" onclick="addLink()">Добавить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="webjars/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="webjars/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="webjars/fabric.js/1.4.12/fabric.min.js" crossorigin="anonymous"></script>
<script src="js/constructor.js"></script>

</body>
</html>