<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel ="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/" >
		<img src="img/help/back.png" alt="" width="48" hight="48">
            Справочная информация
        </a>
	<img src="img/help.png" alt="" width="48" hight="48">
    </nav>
	
</head>
<body>
	
<div class="container mt-5">
	<div class = "row">
		<p class="font-weight-bold"><big><big><big>О программе</big></big></big></p>
		</div>
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>Лабораторный практикум по дисциплине</big></p>
<p class="font-weight-normal">Технологии программирования</p>
<p class="font-weight-light">Проект: Моделирование работы ЖД станции</p>
<p class="font-weight-light">Разработчики:</p>
<p class="font-weight-light">студенты группы 6402-090301D</p>
<p class="font-weight-light">Миняшов Виталий</p>
<p class="font-weight-light">Казаков Никита</p>
<p class="font-weight-light">Куприн Николай</p>
<p><em>Самарский Университет 2019</em></p>
		</div>
	<div class="col-3 col-xl-6">
		<img src="http://votuchebar.nichost.ru/images/logos/logo_kor.png" 
  width="320" height="320" alt="lorem">
		</div>
		</div>
	<div class = "row">
		<p class="font-weight-bold"><big><big><big>Справка</big></big></big></p>
		</div>
	<div class = "row">
		<p class="font-weight-bold"><big><big>Назначение системы</big></big></p>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>Данная система предназначена для моделирования работы железнодорожной станции.</big></p>
		</div>
	<div class="col-3 col-xl-6">
		<img src="http://cdn.onlinewebfonts.com/svg/img_98494.png" 
  width="150" height="120" alt="train">
		</div>
		</div>
	
	<div class = "row">
		<p class="font-weight-bold"><big><big>Главное меню</big></big></p>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>В главном меню расположены пункты меню для работы с системой в соответствии с её реализуемыми функциями: <strong>конструктор топологии</strong> ЖД станции,<strong> менеджер расписаний</strong>, <strong>моделирование и визуализация</strong> и справочная информация о программе. </big></p>
		<p class="font-weight-light"><big>В верхней части главного меню отображается активный на данный момент пользователь и кнопка <strong>«Выйти»</strong>, позволяющая ему выйти из системы.</big></p>
	<p class="font-weight-light"><big>Для начала работы с системой выберите необходимую для вас функцию.</big></p>
		</div>
<div class="col-3 col-xl-6">
		<img src="img/help/MainMenu.png"
  width="550" height="240" alt="train">
	  </div>
		</div>
	
	<div class = "row">
		<p class="font-weight-bold"><big><big>Конструктор топологии ЖД станции</big></big></p>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При выборе в меню пункта «Конструктор топологии ЖД» отобразится список станций с которыми можно работать.</big></p>
<p class="font-weight-light"><big>Пункт <strong>«Создать новую...»</strong> позволяет создать новую топологию.</big></p>
		</div>
<div class="col-3 col-xl-6">
		<img src="img/help/StationConstr.png"
  width="550" height="210" alt="train">
	  </div>
		</div>
	
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>После выбора пункта <strong>«Создать новую...»</strong>, в появившемся модальном окне необходимо ввести её <strong>имя</strong>, и выбрать <strong>город</strong> в котором она расположена.</big></p>
	  <p class="font-weight-light"><big>После введения всех данных необходимо нажать на кнопку <strong>«Создать»</strong> после чего можно приступить к работе с ее топологией.</big></p>
		<p class="font-weight-light"><big>Для выхода из окна добавления станции необходимо нажать на кнопку <strong>«Отмена»</strong> после чего окно закроется.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/NewStation.png"
  width="460" height="270" alt="train">
	  </div>
  </div>
	
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>При переходе на главную страницу конструктора топологий, на ней отображается топология станции</big></p>
	  
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/Topology.png"
  width="530" height="270" alt="train">
	  </div>
  </div>
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>В боковой части конструктора расположены формы для добавления с заданными параметрами элементов топологии</big></p>
	  <p class="font-weight-light"><big>Для добавления определенного элемента топологии необходимо задать параметры нужного элемента и нажать на кнопку <strong>«Добавить»</strong>.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/Tools.png"
  width="300" height="700" alt="train">
	  </div>
  </div>
	
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>Для изменения параметров элемента на топологии, необходимо нажать на него мышью, после чего отобразится форма для изменения его параметров и полного удаления его из топологии.</big></p>
	  <p class="font-weight-light"><big>Для изменения элемента топологии необходимо задать нужные значения в поля и нажать кнопку <strong>«Изменить»</strong>.</big></p>
	 <p class="font-weight-light"><big>Для удаления элемента топологии необходимо нажать кнопку <strong>«Удалить»</strong>.</big></p>
		</div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/ToolsChange.png"
  width="530" height="450" alt="train">
	  </div>
  </div>
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>Для возврата в главное меню необходимо нажать на кнопку в левой верхней части окна. Все изменения будут сохранены автоматически.</big></p>
		</div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/back.png"
  width="48" height="48" alt="train">
	  </div>
  </div>
	
	<div class = "row">
		<p class="font-weight-bold"><big><big>Менеджер расписаний</big></big></p>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При выборе в меню пункта «Менеджер распианий» отобразится список станций с распианием которых можно работать.</big></p>

		</div>
<div class="col-3 col-xl-6">
		<img src="img/help/StationRasp.png"
  width="550" height="90" alt="train">
	  </div>
		</div>
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При выборе станции отобразится таблица расписания данной станции. </big></p>
<p class="font-weight-light"><big>Для добавления в таблицу расписания поезда, неодходимо нажать кнопку <strong>«Добавить»</strong> </big></p>
<p class="font-weight-light"><big>Для изменения в таблице расписания поезда, неодходимо нажать на строку нужного поезда</big></p>
		</div>
<div class="col-3 col-xl-6 p-2">
		<img src="img/help/RaspTable.png"
  width="550" height="150" alt="train">
	  </div>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При нажатии кнопки <strong>«Добавить»</strong> отобразится форма для введения параметров нового поезда </big></p>
<p class="font-weight-light"><big>После введения данных о новом поезде необходимо нажать кнопку <strong>«Создать»</strong>.</big></p>
<p class="font-weight-light"><big>Для выхода из формы создания поезда необходимо нажать кнопку <strong>«Отмена»</strong>.</big></p>
		</div>
<div class="col-3 col-xl-6 p-2">
		<img src="img/help/AddTrain.png"
  width="350" height="420" alt="train">
	  </div>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При нажатии на строку поезда в таблице, откроется форма для изменения его параметров</big></p>
<p class="font-weight-light"><big>После введения новых данных о поезде необходимо нажать кнопку <strong>«Изменить»</strong>.</big></p>
<p class="font-weight-light"><big>Для удаления поезда необходимо нажать кнопку <strong>«Удалить»</strong>.</big></p>
		</div>
<div class="col-3 col-xl-6 p-2">
		<img src="img/help/ChangeTrain.png"
  width="350" height="420" alt="train">
	  </div>
		</div>
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>Для возврата в главное меню необходимо нажать на кнопку в левой верхней части окна. Все изменения будут сохранены автоматически.</big></p>
		</div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/back.png"
  width="48" height="48" alt="train">
	  </div>
  </div>
	
	<div class = "row">
		<p class="font-weight-bold"><big><big>Моделирование и визуализация</big></big></p>
		</div>
	
	<div class="row">
	<div class="col-6">
<p class="font-weight-light"><big>При выборе в меню пункта «Моделирование и визуализация» отображается список станций для моделирования и последующей визаулизации работы.</big></p>

		</div>
<div class="col-3 col-xl-6">
		<img src="img/help/StationRasp.png"
  width="550" height="90" alt="train">
	  </div>
		</div>
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>При переходе на страницу визуализации, на ней отображается визуализация работы станции.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/Modeling.png"
  width="530" height="220" alt="train">
	  </div>
  </div>
	
	<div class="row">
	<div class="col-6">
	<p class="font-weight-light"><big>На панеле управления визуализацией присутствуют кнопки для выбора режима визуализации.</big></p>
	<p class="font-weight-light"><big>Для приостановки процесса визуализации необходимо нажать кнопку <strong>«Пауза»</strong>.</big></p>
	<p class="font-weight-light"><big>Для старта и возобновления процесса визуализации необходимо нажать кнопку <strong>«Старт»</strong>.</big></p>
	<p class="font-weight-light"><big>Для остановки процесса визуализации необходимо нажать кнопку <strong>«Стоп»</strong>.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/ModelingButtons.png"
  width="180" height="70" alt="train">
	  </div>
  </div>
	
	<div class="row">
	<div class="col-6">
	<p class="font-weight-light"><big>На панеле управления визуализацией отображается текущее модельное времени.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/ModelingTime.png"
  width="132" height="77" alt="train">
	  </div>
  </div>
	<div class="row">
	<div class="col-6">
	<p class="font-weight-light"><big>На панеле управления визуализацией присутствует слайдер для управления течения скорости модельного времени.</big></p>
	  </div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/help/ModelingSpeed.png"
  width="376" height="68" alt="train">
	  </div>
  </div>
	<div class="row">
	<div class="col-6">
	  <p class="font-weight-light"><big>Для возврата в главное меню необходимо нажать на кнопку в левой верхней части окна. Все изменения будут сохранены автоматически.</big></p>
		</div>
<div class="col-3 col-xl-6 p-4">
	  <img src="img/back.png"
  width="48" height="48" alt="train">
	  </div>
  </div>
  </div>

<script src="webjars/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="webjars/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>