<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Менеджер расписаний</title>
    <link rel ="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="/home" >
            <img src="img/back.png" alt="" width="48" hight="48">
            Менеджер расписаний
        </a>
        <img src="img/table.png" alt="" width="48" hight="48">

    </nav>
</head>
<body>

<div class="modal fade" id="createTrainModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Создание новой станции</h4>
            </div>
            <div class="modal-body">
                <div class="input-group mb-2 mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputName">Имя станции</span>
                    </div>
                    <input id="inputStationName" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" pattern="^[A-za-z][A-za-z0-9_-]{2,30}$" required autofocus>
                    <label for="inputStationCity">Город:</label>
                    <select class="form-control" id="inputStationCity">
<!--                        <div th:each="city : ${cityList}">-->
<!--                            <option th:utext="${city.getName()}"></option>-->
<!--                        </div>-->
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div id="stationNameError"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="createTrain()">Создать</button>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane fade show active" id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
    <table class="table table-secondary">
        <thead>
        <tr>
            <th scope="col">Номер поезда</th>
            <th scope="col">Платформа</th>
            <th scope="col">Путь</th>
            <th scope="col">Тип</th>
            <th scope="col">Длинна</th>
            <th scope="col">Время прибытия<th>
            <th scope="col">Время отправления</th>
            <th scope="col">Маршрут следования</th>

        </tr>
        </thead>
        <tbody th:if="${!trains.isEmpty()}">
            <tr th:each ="train : ${trains}">
                <td scope="row" th:utext="${train.getKey().getTrainNumber()}"></td>
                <td scope="row" th:utext="${train.getPlatformNumber()}"></td>
                <td scope="row" th:utext="${train.getWay().getNumber()}"></td>
                <td scope="row" th:utext="${train.getTrainType().getName()}"></td>
                <td scope="row" th:utext="${train.getTrainLength()}"></td>
                <td scope="row" th:utext="${train.getArriveTime()}"></td>
                <td scope="row" th:utext="${train.getDepartureTime()}"></td>
                <td scope="row" th:utext="${train.getRoute()}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    <button  data-toggle="modal" data-target="#createTrainModal" type="button" class="btn btn-secondary">Добавить</button>
    <button type="button" class="btn btn-secondary">Удалить</button>
</div>

<script src="webjars/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="webjars/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="js/shedule.js" crossorigin="anonymous"></script>
</body>
</html>