<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        .container-signin {
            max-width: 380px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            padding-right: 15px;
            padding-left: 15px;
            margin-top: 10%;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" >
            <img src="img/mainLogo.png" width="48" height="48">
            Система моделирования работы ЖД станции
        </a>
    </nav>
</head>
<body>
<div class="container-signin">
    <form id="loginForm" class="form-signin text-center"  action="/signup/add" method="post" novalidate>
        <h1 class="h3 m-3 font-weight-normal">Регистрация:</h1>

        <input id="inputLogin" name="username" type="text" class="form-control mb-2" placeholder="Введите логин" pattern = "^[A-za-z][A-za-z0-9_-]{2,30}$" required autofocus>
        <div id="loginError" class="error" aria-live="polite"></div>

        <input name="password"id="inputPassword" type="password" class="form-control mb-2" placeholder="Введите пароль"
               pattern="^[A-za-z0-9_-]{8,}" required>
        <div id="passwordError" class="error" aria-live="polite"></div>

        <input id="inputPassword2" type="password"  class="form-control mb-2" placeholder="Введите пароль повторно" required>
        <div id="password2Error" class="error" aria-live="polite"></div>


        <button id="signupButton" class="btn btn-lg btn-primary btn-block " type="submit">Зарегистрироваться</button>
    </form>
</div>

<script src="webjars/jquery/3.0.0/jquery.min.js" crossorigin="anonymous"></script>
<script src="webjars/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="js/signup.js" crossorigin="anonymous"></script>
</body>
</html>